<ion-view view-title="全部提现">
    <ion-content style="top: 48px;">
        <ion-list> 
            <div style="height:20px;background-color:#eee"></div>
            <ion-item class="item-icon-left item-button-right">
                <i class="icon ion-soup-can-outline current-price"></i>
                <h3>提现金额：20.00</h3>
                <button class="button button-small ly-bg light ly-font12 padding-left padding-right">取消</button>
            </ion-item>
            <ion-item>
                <h3>状态：<span>待审核</span></h3>
                <h3>申请日期：<i>2016-05-11 08:36:09</i></h3>
            </ion-item>
        </ion-list>
        <ion-list> 
            <div style="height:20px;background-color:#eee"></div>
            <ion-item class="item-icon-left item-button-right">
                <i class="icon ion-soup-can-outline current-price"></i>
                <h3>提现金额：20.00</h3>
                <button class="button button-small ly-bg light ly-font12 padding-left padding-right">取消</button>
            </ion-item>
            <ion-item>
                <h3>状态：<span>待审核</span></h3>
                <h3>申请日期：<i>2016-05-11 08:36:09</i></h3>
            </ion-item>
        </ion-list>
        <ion-list> 
            <div style="height:20px;background-color:#eee"></div>
            <ion-item class="item-icon-left item-button-right">
                <i class="icon ion-soup-can-outline current-price"></i>
                <h3>提现金额：20.00</h3>
                <button class="button button-small ly-bg light ly-font12 padding-left padding-right">取消</button>
            </ion-item>
            <ion-item>
                <h3>状态：<span>待审核</span></h3>
                <h3>申请日期：<i>2016-05-11 08:36:09</i></h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>