<ion-view view-title="分销" hide-tabs="true">
    <div class="ly-fenxiao-img"> 
    </div>

        <div style="position: fixed;z-index: 20;top: 8%;width: 100%;text-align: center;"><img src="img/myface.png" style="width:60px;height:60px"></div>
        <div style="position: fixed; z-index: 20; top: 20%; width: 100%; text-align: center; font-size: 25px;">ljz</div>
        <div style="position: fixed;z-index: 20;top: 34%;width: 100%;text-align: center;">
            <img src="../img/ma01.png" alt="" style="width:125px;height:125px;">
        </div>
</ion-view>