<ion-view view-title="领券中心">
    <ion-content>
        <ion-list>
            <div class="row">
                <div class="col text-center">优惠金额&nbsp;<i class="icon ion-ios-arrow-down"></i></div>
                <div class="col text-center">使用门槛&nbsp;<i class="icon ion-ios-arrow-down"></i></div>
                <div class="col text-center">筛选&nbsp;<i class="icon ion-ios-arrow-down"></i></div>
            </div>
            <div style="height:20px;background-color:#eee"></div>

            <div class="row padding-top">
                <div class="col col-50"><img src="../img/discount01.png" alt=""></div>
                <div class="col col-50"><img src="../img/discount02.png" alt=""></div>
               
            </div>
        </ion-list>
    </ion-content>
</ion-view>