<ion-view title="登录">
    <div class="ly-img"> 
    </div>
    <div style="position: fixed;z-index: 20;top: 8%;width: 100%;text-align: center;">
        <h3 class="text-center ly-white">智能卖客微信</h3>
        <p class="text-center ly-white">引领售货机购物<i style="font-size: 22px;">e</i>生活</p>
    </div>
    <div class="text-center ly-white" style="position: fixed;bottom:8%;padding: 0 15%;z-index: 20;width: 100%;text-align: center;">
        <p style="margin-top:50px;">初次体验,我需要</p>
        <a ng-click="inmachine()" class="ly-menu">
            <img class="ly-login-icon" src="../img/machine.png" alt="">
            找到附近的售货机
        </a>
        <p style="margin-top:20px;">或者</p>
        <a href="##" class="ly-menu" style="padding-left: 33px;">
            <img class="ly-login-icon" src="../img/sao.png" alt="">
            就在机器旁？我要扫码
        </a>
        <p style="margin-top:20px;">又或者</p>
        <a ng-click="intab()" class="ly-menu">
            <img class="ly-login-icon" src="../img/tab.png" alt="">
            进入智能卖客商城
        </a>
    </div>
</ion-view>