<ion-view view-title="我的零钱" hide-tabs="true">
    <ion-conten>
        <ion-list>
            <ion-item class="text-center">
                <img ng-src="../img/money.png" width="100" height="100" alt="">
                <h3 class="padding-top">我的零钱</h3>
                <h1>¥<i>10.28</i></h1>
            </ion-item>
            <ion-item class="item-borderless">
                <a href="#/tab/personal-center/tixian" class="button button-full light" style="background-color:#ff7300">申请提现到微信帐号</a>
   
                <a href="##" class="button button-full light" style="background-color:#ff7300">继续败家</a>
            </ion-item>
            <ion-item class="item-borderless text-center padding-top">
                <img src="../img/znmk.png" width="90" height="30" alt="">
            </ion-item>
        </ion-list>
    </ion-conten>
</ion-view>