<ion-view view-title="我的优惠券">
    <ion-tabs class="tabs-top tabs-color-active-positive tabs-striped " id="ly-top">
        <!-- Dashboard Tab -->
        <ion-tab title="待使用" badge="2"  href="#/mydiscount/using">
            <ion-nav-view name="new-using"></ion-nav-view>
        </ion-tab>
        <ion-tab title="已过期"  href="#/mydiscount/past">
            <ion-nav-view name="new-past"></ion-nav-view>
        </ion-tab>
        <ion-tab title="已使用" badge="2" href="#/mydiscount/used">
            <ion-nav-view name="new-used"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>