<ion-view view-title="订单中心">
    <ion-content  style="top: 48px;">
        <ion-list>
            <ion-item>
                <div class="row ly-paddingless">
                    <div class="col ly-paddingless">
                        <div>
                            状态：<span class="positive">配送中</span>
                        </div>
                        <div>
                            总价：<i class="current-price">¥48.00</i>
                        </div>
                    </div>
                    <div class="col ly-paddingless">
                        <button class="button button-positive">确认收货</button>
                        <button class="button ly-bg light">再次购买</button>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-icon-right">
                <h5>扫描地点：广州市，扫描信息：广州市[广州庙头站]等待快递员配送</h5>
                <p>2016-06-25 11:27:08</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
             <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
             <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
            <div style="height:20px;background-color:#eee"></div>
        </ion-list>
        <ion-list>
            <ion-item>
                <div class="row ly-paddingless">
                    <div class="col ly-paddingless">
                        <div>
                            状态：<span class="positive">配送中</span>
                        </div>
                        <div>
                            总价：<i class="current-price">¥48.00</i>
                        </div>
                    </div>
                    <div class="col ly-paddingless">
                        <button class="button button-positive">确认收货</button>
                        <button class="button ly-bg light">再次购买</button>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-icon-right">
                <h5>扫描地点：广州市，扫描信息：广州市[广州庙头站]等待快递员配送</h5>
                <p>2016-06-25 11:27:08</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
             <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
             <ion-item class="item-thumbnail-left">
                <img ng-src="../img/orders01.png" alt="">
                <h4 class="padding-top">徐福记 凤梨酥</h4>
                <p class="padding-top"><i>2</i>件</p>
            </ion-item>
            <div style="height:20px;background-color:#eee"></div>
        </ion-list>
    </ion-content>
</ion-view>