<ion-view view-title="修改密码" hide-tabs="true">
    <ion-content class="stable-bg">
        <ion-list class="list-inset">
            <ion-item class="item-input item-borderless stable-bg" style="padding-right:16px;">
                <span>原始密码：</span>
                <input type="text" style="border: 1px solid #ddd;width: 100%;border-radius:5px;background-color:#fff;">
            </ion-item>
            <ion-item class="item-input item-borderless stable-bg" style="padding-right:16px;">
                <span>新密码：&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" style="border: 1px solid #ddd;width: 100%;border-radius:5px;background-color:#fff;">
            </ion-item>
            <ion-item class="item-input item-borderless stable-bg" style="padding-right:16px;">
                <span>确认密码：</span>
                <input type="text" style="border: 1px solid #ddd;width: 100%;border-radius:5px;background-color:#fff;">
            </ion-item>
            <ion-item class="item-borderless stable-bg" style="border-bottom:none;" >
                <a href="#/tab/set/password/commitpasswd" class="button button-full light" style="background-color:#ff7300">下一步</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>