<ion-view view-title="主页">
	<ion-header-bar class="ly-bar">
		<button menu-toggle="left" id="ly-list-icon" class="ion-navicon"></button>
		<input class="ly-search" type="text" placeholder="搜索商品/售货机">
		<button id="ly-search-icon" class="ion-ios-search"></button>
	</ion-header-bar>
	<ion-content>
		<!-- 列表  --> 
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			
			<!-- 轮播图 -->
			<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
				<ion-slide ng-repeat="item in banner">
					<a href="#/tab/food/0"><div class="box blue"><img ng-src="img/{{item.imgurl}}"></div></a>
				</ion-slide>
				<!-- <ion-slide>
					<a href="#/tab/food/0"><div class="box blue"><img src="img/banner-01.jpg"></div></a>
				</ion-slide>
				<ion-slide>
					<a href="#/tab/food/0"><div class="box yellow"><img src="img/banner-02.jpg"></div></a>
				</ion-slide>
				<ion-slide>
					<a href="#/tab/food/0"><div class="box pink"><img src="img/banner-03.jpg"></div></a>
				</ion-slide> -->
			</ion-slide-box>
		</ion-list>
		<ion-list>
			<a style="display: block; position: relative;" href="#/tab/baidumap">
				<ion-item style="background-color:#fffff2;">
					<div class="ly-adress">
						<!-- <button class="ly-button ly-address-icon ion-ios-location"></button>
						<button class="ly-button ly-right-icon ion-ios-arrow-right"></button> -->
						<button class="ly-button ly-right-icon ion-ios-location"></button>
						<p ng-bind="task.title" style="margin-right: 30px;"></p>
					</div>

				</ion-item>
			</a>
		</ion-list>
		<div class="list" style="margin-bottom:0;">
			<div class="item">
				<h3 style="padding-left: 7px;border-left: 3px solid #ff7300;">为您推荐</h3>
			</div>

			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
			  <ion-slide ng-repeat="item in recommend">
			    	<div style="width:33%;display:inline-block;padding:10px;" ng-repeat="goods in item.items">
			    		<a href="#/tab/food/{{goods.id}}"><img ng-src="{{goods.imgurl}}" alt="" style="width:100%;height:auto;border:1px solid #eee"></a>
			    		<div>
			    			<div>{{goods.method}}</div>
			    			<div>已售<i class="number-case">{{goods.salesNumber}}</i>件</div>
			    		</div>
			    		<div>
			    			<span class="current-price">¥<i>{{goods.currentPrice}}</i>元</span>
			    			<span><del class="old original-price">¥<span>{{goods.originalPrice}}</span></del></span>
			    		</div>
			    	</div>
			  </ion-slide>
			</ion-slide-box>
		</div>
		<div style="height:20px;background-color:#eee"></div>
		<div class="list" >
			<div class="item">
				<div class="row">
					<div class="col-33 text-center">饮料<button class="ly-button ion-ios-arrow-down" ng-click="openPopover($event, '天蓝')"></button></div>
					<div class="col-33 text-center">排序<button class="ly-button ion-ios-arrow-down" ng-click="openPopover($event, '天蓝')"></button></div>
					<div class="col-33 text-center">筛选<button class="ly-button ion-ios-arrow-down" ng-click="openPopover($event, '天蓝')"></button></div>
				</div>
			</div>
            <div class="item">
                <div style="width:33%;display:inline-block;padding:10px;float:left" class="pull-left" ng-repeat="goods in textGoodslistAll">
                        <a href="#/tab/food/{{goods.id}}"><img ng-src="img/{{goods.pic}}" alt="" style="width:100%;height:auto;border:1px solid #eee"></a>
                        <div>
                            <div>{{goods.name}}</div>
                            <div>已售<i class="number-case">{{goods.num}}</i>件</div>
                        </div>
                        <div>
                            <span class="current-price">¥<i>{{goods.nowprice}}</i>元</span>
                            <span><del class="old original-price">¥<span>{{goods.price}}</span></del></span>
                        </div>
                    </div>
            </div>
		</div>
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!noMore"></ion-infinite-scroll>
	</ion-content>
	<button class=" ion-ios-arrow-thin-up" ng-click="scrollTop()" style="    position: fixed;
    z-index: 999;
    bottom: 65px;
    right: 13px;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px"></button>
</ion-view>
<script id="button-options.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">{{type}} 选项</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-ionic"></i> 选项一
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-help-buoy"></i> 选项二
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-hammer"></i> 选项三
                    </a>
                    <a href="#" class="item item-icon-left" ng-click="closePopover()">
                        <i class="icon ion-close"></i> 关闭
                    </a>
                </div>
            </ion-content>
        </ion-popover-view>
    </script>