<ion-view view-title="sales">
    <ion-content>
    <ion-list>
        <!-- 轮播图 -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
            <ion-slide>
                <a href="#/tab/food/0"><div class="box yellow"><img src="img/banner-02.jpg"></div></a>
            </ion-slide>
            <ion-slide>
                <a href="#/tab/food/0"><div class="box blue"><img src="img/banner-01.jpg"></div></a>
            </ion-slide>
            <ion-slide>
                <a href="#/tab/food/0"><div class="box pink"><img src="img/banner-03.jpg"></div></a>
            </ion-slide>
        </ion-slide-box>
        <ion-scroll zooming="true" direction="x" scrollbar-x="false" style="width: 500px; height: auto">
            <ul style="display: block;width: 1365px;" ng-init="vm.activeTab=1">
                <li ng-class="{sactive: vm.activeTab == 1,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 1">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
                <li ng-class="{sactive: vm.activeTab == 2,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 2">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
                <li ng-class="{sactive: vm.activeTab == 3,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 3">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
                <li ng-class="{sactive: vm.activeTab == 4,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 4">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
                <li ng-class="{sactive: vm.activeTab == 5,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 5">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
                <li ng-class="{sactive: vm.activeTab == 6,caoitem:true}" style="position:relative;margin-bottom:20px;float:left;width:90px;display:block">
                    <a href="javascript:;" ng-click="vm.activeTab = 6">
                    <h4 class="stable text-center ly-margin-bottomless">6月25日</h4>
                    <p class="stable text-center">已开抢</p>
                    </a>
                </li>
            </ul>
        </ion-scroll>
        <ion-item class="item-button-right" style="margin-top: -20px; background: none; border-top: none;">
            <a class="button" ng-click="openPopover($event);">分享</a>
            <h2>限时限量抢购中...</h2>
        </ion-item>
        <a href="#/tab/sales/activedetails">
            <ion-item class="item-thumbnail-left">
                <img ng-src="../img/sales-01.png" alt="">
                <h3>No Brand 蜂蜜柚子茶 2罐装2000克 蜂蜜更多 柚子更纯</h3>
                <div class="padding-top">
                    <span class="current-price">抢购价¥<i class="ng-binding">88</i>元</span>
                    <del class="old original-price">¥<span class="ng-binding">48</span></del>

                </div>
                <div class="row ly-paddingless" >
                    <div class="col ly-paddingless col-center"><p>仅剩526件</p></div>
                    <div class="col ly-paddingless text-right"><button class="button button-energized">马上抢</button></div>
                
                </div>
            </ion-item>
        </a>
        <a href="#/tab/sales/activedetails">
            <ion-item class="item-thumbnail-left">
                <img ng-src="../img/sales-01.png" alt="">
                <h3>No Brand 蜂蜜柚子茶 2罐装2000克 蜂蜜更多 柚子更纯</h3>
                <div class="padding-top">
                    <span class="current-price">抢购价¥<i class="ng-binding">88</i>元</span>
                    <del class="old original-price">¥<span class="ng-binding">48</span></del>

                </div>
                <div class="row ly-paddingless" >
                    <div class="col ly-paddingless col-center"><p>仅剩526件</p></div>
                    <div class="col ly-paddingless text-right"><button class="button button-energized">马上抢</button></div>
                
                </div>
            </ion-item>
        </a>
        <a href="#/tab/sales/activedetails">
            <ion-item class="item-thumbnail-left">
                <img ng-src="../img/sales-01.png" alt="">
                <h3>No Brand 蜂蜜柚子茶 2罐装2000克 蜂蜜更多 柚子更纯</h3>
                <div class="padding-top">
                    <span class="current-price">抢购价¥<i class="ng-binding">88</i>元</span>
                    <del class="old original-price">¥<span class="ng-binding">48</span></del>

                </div>
                <div class="row ly-paddingless" >
                    <div class="col ly-paddingless col-center"><p>仅剩526件</p></div>
                    <div class="col ly-paddingless text-right"><button class="button button-energized">马上抢</button></div>
                
                </div>
            </ion-item>
        </a>
    </ion-list>
   
    </ion-content>
</ion-view>
<script id="ez-popover.html" type="text/ng-template">
    <ion-popover-view class="padding" id="ly-popover">
        <div class="text-center current-price">
            <h3 class="current-price">分享赚</h3>
            <p>3元</p>
        </div>
        <p class="current-price">当小伙伴从你的分享的连接进入智能卖客购物，你最高可获得TA订单总额的10%收益奖励(新用户X3倍)，进入“我的智能卖客-分享赚钱”查看</p>
        <div class="row" style="border-top:1px solid #eee">
            <div class="col text-center">
                <img src="../img/wx.png" alt="微信" style="width:60px;height:60px">
                <p>微信好友</p>
            </div>
            <div class="col text-center">
                <img src="../img/pyq.png" alt="微信朋友圈" style="width:60px;height:60px">
                <p>微信朋友圈</p>
            </div>
            <div class="col text-center">
                <img src="../img/qq.png" alt="QQ" style="width:60px;height:60px">
                <p>手机QQ</p>
            </div>
        </div>     
    </ion-popover-view>
</script>